body {
  background-color: #181818;
}


@media (max-width: 600px) {
  .titlee {
    color: #FBCF8B;
    display: flex;
    justify-content: center;
    font-size: xx-large;
  }
  .works {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  #my-image {
    display: none;
  }
  nav {
    background-color: #212121;
  }
  .fa-solid {
    padding: 28px;
  }
  p#typing-animation {
    width: 100%;
    text-align: justify;
  }

  #about {
    display: flex;
    flex-direction: column-reverse;
    background-color: #212121;

  }

  #About-Myself p {
    width: 100% !important;
  }

  #content ul li a{
    border:  1px solid #fbce8b96;
    border-radius: 50px;
    padding: 8px;
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
  }

  #content h4 {
    margin-top: 20px;
    color:#FBCF8B;
  }

  #text1 {

    margin-bottom: -4px;

  }
 
}
 
 #typing-animation {
    width: 50%;
    color: #bebebe;
  }

  #my-image {
    margin-top: 12%;
    width: 20%;
    height: 30%;
    border: 10px solid #bba767b0;
    border-radius: 30%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }

  .works-section {
    margin-top: 40px;
    justify-content: center;
    align-items: center;
  }

  #work-item {
    width: 100%;
    padding: 2%;
    display: flex;
    background-color: #2b2b2b;
    flex-direction: column;
    border: 1px solid #3b3b3b;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    margin-bottom: 1rem;
  }

  #work-item:hover {
    box-shadow: 0px 4px 8px rgba(13, 13, 19, 0.902);
    border: 1px solid #9b9b9b;
  }

  .app-image-container {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }

  .project-title {
    width: 100%;
    margin: auto;
    color: #d3a45d
  }

  .app-image {
    width: 95%;
    height: 38vh;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
    transform: translateZ(0);
    box-sizing: border-box;
    border: 4px solid #0b0b0cdc;
  }

  .app-image:hover {
    width: 100%;
    height: 40vh
  }

  .app-details {
    padding: 1rem;
  }


  .techs {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.5rem;
  }

  .techs span {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.25rem 0.3rem;
    color: #ffffff;
    border-radius: 10px;
    border: 1px solid #fbce8b57;
    font-size: 0.9rem;
    background-color: #d3a45d3f;
  }

  .app-description {
    font-size: 0.9rem;
    line-height: 1.5;
    margin-bottom: 1rem;
    text-align: justify;
    color: #fff;
  }

  .project-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .project-link {
    display: inline-block;
    background-color: #aa6804;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
  }

  .project-link:hover {
    background-color: #ffd341;
    color: #000;
  }

  .skills {
    justify-content: center;
  }

  .skills-title {
    margin-bottom: 0.3rem;
    text-align: center;
    color: #fcd98d;
  }

  .skill-items {
    display: flex;
    flex-wrap: wrap;
  }

  .skill {
    align-items: center;
    border: 1px solid #fff06723;
    padding: 0.5rem;
  }

  .skill h3 {
    margin: 0;
    margin-left: 0.5rem;
    color: #ffd79b;
  }

  .skill-span {
    color: rgb(255, 255, 255);
    width: fit-content;
    border-radius: 5px;
    display: flex;
    border: 1px solid #dab0091c;
    align-items: center;
    margin: 0.2rem;
  }

  .skill-span img {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0.2rem;
  }

  .skill-items i {
    padding: 0.2rem;
    font-size: x-large
  }

  .skill-text {
    padding: 0.3rem;
  }

  #About-Myself p {
    width: 80%;
    text-align: justify;
  }
