* {
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
  background-color: #e5e5e5;
  justify-items: center;
  margin: 0;
}

#intro {
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 114px 24px;
  border-radius: 0 0 0 50px;
  background-size: contain;
  background-image: url("images/header-mobile.svg");
}

header {
  background-color: white;
}

nav {
  position: fixed;
  width: -webkit-fill-available;
  z-index: 1;
  top: 14px;
  left: 24px;
  right: 36px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#logo {
  color: #c9c9ef;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 24px;
}

a {
  text-decoration: none;
}

.nav-list {
  color: #344563;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 15px;
  display: none;
}

.mobile-nav {
  margin: 0;
  padding: 50px 0;
  list-style: none;
  display: none;
  flex-direction: column;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(10px);
  background: rgba(33, 41, 114, 0.7);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  height: 100%;
}

.df {
  display: flex !important;
}

.nav-link {
  font-size: 34px;
  line-height: 44px;
  margin: 20px 24px;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

#cross-icon {
  position: absolute;
  right: 20px;
  top: 20px;
}

#works {
  margin: 0 24px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 114px;
  position: absolute;
  height: 604px;
}

header nav img,
header nav a {
  z-index: 2;
}

#text1 {
  height: 150px;
  font-weight: 300;
  top: 114px;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  margin-bottom: 30px;
  line-height: 52px;
  letter-spacing: 0;
  text-align: left;
}

#text1 h1 {
  color: #091e42;
}

.container p {
  /* height: 146px; */
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #344563;
}

.container h4 {
  height: 24px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

h4:hover {
  color: #384299;
  transition: 1s;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 2px;
  gap: 8px;
}

#about {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 48px;
}

#about div {
  flex: 1;
}

li {
  margin: 5px;
}

#work-item-one {
  min-height: 540px;
  padding: 20px;
  padding-right: 0;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  border: 1px solid rgb(220, 217, 217);
  padding-bottom: 40px;
}

#work-item-one h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin: 1px 0 2px;
}

.contact-form .text-container p,
.contact-form .text-container h2 {
  color: #fff;
  text-align: center;
}

.contact-form .text-container p {
  font-weight: 400;
  line-height: 28px;
  font-size: 20px;
}

#work-item-one p {
  height: 62px;
  left: 24px;
  top: 276px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

#work-item-one span {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  border: 1px solid #396df2;
  border-radius: 16px;
  color: #396df2;
  padding: 12px;
  width: fit-content;
  display: block;
  margin-top: 24px;
  cursor: pointer;
}

#About-Myself span {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  border: 1px solid #396df2;
  border-radius: 16px;
  color: #396df2;
  padding: 12px;
}

#work-item-one span:hover {
  background-color: #396df2;
  color: white;
  transition: 1s;
}

#work-item-one ul {
  display: flex;
  flex-direction: row;
  padding-right: 20px;
  font-family: "poppins", sans-serif;
  font-weight: 500;
}

#canopy {
  font-weight: 600;
  color: #404752;
}

#first-list {
  display: flex;
  color: #4c5058;
  padding-left: 0;
  margin: 0;
}

.img-prev img {
  max-width: 100%;
}

.act-btn img {
  margin-left: 10px;
}

#first-list img {
  padding-right: 10px;
}

#About-Myself span:hover {
  color: white;
  background-color: #396df2;
  transition: 2s;
}

.contact-form {
  min-height: 800px;
  background-image: url(/images/contact-form-mobile.svg);
  padding: 130px 24px 20px 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #6070ff;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: right;
  border-radius: 50px 0 0 0;
  font-family: "poppins", sans-serif;
  margin-top: -160px;
}

.text-container {
  text-align: center;
  padding: 26px 26px 0 26px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input {
  height: 16px;
  border: 0;
  font-family: inherit;
  font-weight: 500;
  border-radius: 8px;
  padding: 16px 15px;
}

input::placeholder {
  color: #000;
  font-size: 17px;
}

textarea {
  padding: 8px;
}

textarea:focus,
input:focus {
  outline: none;
}

.form-btn {
  width: fit-content;
  padding: 12px 16px;
  color: #6070ff;
  background: #fff;
  border: none;
  border-radius: 8px;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.form-btn:hover {
  cursor: pointer;
  background-color: #6070ff;
  color: #fff;
  transition: all 0.9s;
}

.article-popup {
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
  display: flex;
  position: fixed;
  justify-content: center;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(9px);
  background: rgba(11, 26, 59, 0.5);
  box-shadow: 0 8px 32px 0 rgba(30, 37, 141, 0.37);
}

.article-modal {
  gap: 9px;
  width: 100%;
  height: 100%;
  padding: 25px;
  display: flex;
  overflow: scroll;
  max-width: 1156px;
  margin: 24px 15px;
  position: relative;
  background: #fff;
  border-radius: 25px;
  flex-direction: column;
}

#cross-article {
  position: fixed;
  align-self: flex-end;
}

.article-title {
  font-size: 48px;
  line-height: 52px;
  color: #091e42;
  margin: 0;
}

.frames {
  list-style: initial;
  margin: 0;
  padding: 0;
}

.frame {
  margin: 10px;
  color: #344563;
  font-size: 15px;
  line-height: 20px;
}

.frame:first-child {
  font-weight: bold;
  list-style: none;
  color: #344563;
}

.img-prev {
  display: flex;
  justify-content: center;
}

.article-block {
  display: flex;
  flex-direction: column;
}

.left-block {
  width: 100%;
}

.right-block hr {
  border: 1px solid #ebecf0;
}

.article-details {
  text-align: justify;
}

.right-block {
  width: 100%;
}

.actions {
  display: flex;
  margin-top: 10px;
}

.act-btn {
  padding: 10px 14px;
  color: #3a6ff2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #6070ff;
  border-radius: 8px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  max-width: 146px;
  margin: 10px;
  text-decoration: none;
}

.act-btn:hover {
  background-color: #000530;
  color: #fff;
}

.article-tag {
  font-size: 12px;
  color: #6070ff;
  background: #ebebff;
  padding: 4px 12px;
  border-radius: 8px;
}

.btn_submit {
  color: #6070ff;
  font-size: 17px;
  line-height: 24px;
  padding: 12px 16px;
  border-radius: 8px;
  margin: 10px 0;
  align-self: flex-start;
  border: 1px solid #fff;
  transition: all 0.2s ease-in-out;
}

.btn_submit:hover {
  color: #fff;
  font-size: 17px;
  line-height: 24px;
  padding: 12px 16px;
  border-radius: 8px;
  margin: 10px 0;
  align-self: flex-start;
  border: 1px solid #fff;
  transition: all 0.2s ease-in-out;
  background-color: #6070ff;
}

.invalid {
  border: 1px solid #f00;
}

.error {
  background: #f66;
  color: #742020;
  padding: 10px;
  border-radius: 8px;
}

@media (min-width: 600px) {
  body {
    background: rgb(248, 250, 248);
  }

  .container {
    width: -webkit-fill-available;
    background-image: none;
    top: 0;
  }

  nav {
    top: 25px;
    left: 155px;
    right: 155px;
  }

  .mobile-navbar {
    display: none;
  }

  .nav-list {
    display: flex;
    gap: 32px;
  }

  .hamburger {
    display: none;
  }

  section {
    background-size: cover;
    width: -webkit-fill-available;
  }

  #intro {
    padding: 300px 260px;
    border-radius: 0 0 0 100px;
    background-image: url("images/header.jpg");
    background-size: cover;
    background-position: center top -150px;
  }

#content {
    display: flex;
    flex-direction: column;

  }

  #works {
    /* width: px; */
    display: flex;
    flex-direction: column;
    margin: 0 142px;
  }

  #work-item-one {
    height: auto;
    display: flex;
    width: 100%;
    gap: 30px;
    padding: 24px;
    justify-content: center;
  }

  #works:nth-child(odd) #work-item-one {
    flex-direction: row-reverse;
  }

  #work-item-one div {
    flex: 1;
    width: 100px;
    padding: 24px 0 0;
  }

  #work-item-one #image {
    flex: 1;
    width: 50%;
    height: 85%;
    border-radius: 10px;
  }

  .container p {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
  }

  #about {
    display: flex;
    padding: 142px 182px 137px 142px;
    gap: 25px;
  }

  #text1 {
    height: auto;
    display: flex;
    align-items: center;
  }
#About-Myself h1{
  color: #091e42;
}
.greeting {
    
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

#picture {
   width: 15%;
   height: 30%;
   border-radius: 70px;
}

  .contact-form .text-container p,
  .contact-form .text-container h2 {
    margin: 0;
  }

  #text1 h1,
  #content h4,
  #content p {
    margin: 0;
  }

  #content h4 {
    margin-top: 20px;
  }

  .contact-form {
    padding: 142px 435px 127px;
    border-radius: 100px 0 0 0;
    margin-top: -210px;
    background-size: contain;
    background-image: url(/images/contact-form-bg.svg);
    background-position-x: center;
  }

  .contact-form .text-container h2 {
    font-size: 40px;
  }

  .form-btn {
    margin: auto;
  }

  .article-block {
    flex-direction: row;
  }

  .left-block {
    width: 66%;
  }

  .right-block {
    width: 34%;
    padding-left: 15px;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    border: 1px solid rgb(20, 20, 29);
    padding: 8px;
    text-align: left;
  }
  th {
    background-color: #f2f2f2;
  }

  
  .fab {
    color: #1d4292; 
  }
  
  .fas {
    color: #9e4343; 
  }
  
  .fab.fa-html5 {
    color: #e34c26; 
  }
  
  .fab.fa-css3-alt {
    color: #2965f1; 
  }
  
  .fab.fa-github {
    color: #333333; 
  }
  
  .fab.fa-slack {
    color: #4a154b; 
  }
  
  .fab.fa-discord {
    color: #7289da; /* Discord Blue */
  }

  .fas.fa-leaf {
    color: rgb(139, 185, 70);
  }

  .fab.fa-js {
    color: rgb(158, 145, 6)
  }
  .Category {
    color: #061d44;
    font-weight: bold;
  }

  
}